.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .picBooks{
    height: 150px;
    width:150px;
  }
  .mycard{
    margin: 2px;
     padding: 5px;
  }
 
  .wrapper{
    margin: auto;

  }
  .nameBookToSearchInput{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  mat-form-field{
    text-align: right;
  }