<div style="text-align: center" class="card"> 

יצא לכם פעם שחיפשתם ספר ולא היה אותו בכל החנויות הקרובות ?<br>
או שלא רציתם לקנות אותו (מה לעשות הכיס לא אפשר זאת ) <br>
או  הספריה לא ממש הסכימה לתת אותה להרבה זמן <br>
חיפשתם ספר לימוד והוא נגמר בהשאלות המרוכזות בבית הספר של הילד? <br>
או סתם היה בא לכם לקרוא ספר מענין ולשמוע המלצות והספריה לא ממש קרובה אליכם <br>
אז הגעתם למקום הנכון!!!! <br>
BookABook <br>
אתר חדש שמאפשר לכם לחפש כל ספרי אפשרי <br>
לחפש את הספר שנמצא הכי קרוב אליכם <br>
לצפות בתגובות והמלצות <br>
ולהגיב ...<br>
מוזמנים לגלוש ולהנות <br>
קריאה מהנה!!!!<br>


יש לכם רעיון לשיפור? נשמח לשמוע!!!!! <br>
025555555 bookAbook@gmail.com
</div>