

<div> 
  <mdb-carousel [animation]="'slide'" >
    <mdb-carousel-item>
      <img class="d-block w-100 image-carousel" src="../../assets/imags/picb1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 image-carousel" src="../../assets/imags/picb1.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 image-carousel" src="../../assets/imags/picb1.jpg" alt="Third slide">
    </mdb-carousel-item>
    
  </mdb-carousel>
</div>


